@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  /* 
  Variables
  */
  /* Colores */
  --color-white: #fbfbfb;
  --color-black: #111;
  /* Tipografía */
  --font-primary: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-secondary: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Dimensiones y spacing*/
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;

  /* Tipografia */
  font-family: var(--font-primary);
  font-size: var(--text-base); /* 1rem - 16px aprox. */
  line-height: var(--tw-leading, var(--text-sm--line-height));
  font-weight: 400; /* normal */

  background-color: var(--color-black); /* color de fondo */
  color-scheme: dark; /* modo oscuro */
  color: var(--color-white); /* color de texto */

  /* optimizar la renderización de la fuente */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Eliminar los estilos por defecto de los elementos */
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
